<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome you are logged in <%= name %></p>
<% include ./partials/messages %>
  <form class="form-horizontal" action="/users/dashboard/edit" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="_id">ID</label>
      <div class="col-sm-10">
      <input
        type="_id"
        id="_id"
        name="_id"
        class="form-control"
        value="<%= _id %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name</label>
      <div class="col-sm-10">
      <input
        type="name"
        id="name"
        name="name"
        class="form-control"
        value="<%= name %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="surname">Surname</label>
      <div class="col-sm-10">
      <input
        type="surname"
        id="surname"
        name="surname"
        class="form-control"
        value="<%= surname %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email</label>
      <div class="col-sm-10">
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        value="<%= email %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="age">Age</label>
      <div class="col-sm-10">
      <input
        type="age"
        id="age"
        name="age"
        class="form-control"
        value="<%= age %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="degree">Degree</label>
      <div class="col-sm-10">
      <input
        type="degree"
        id="degree"
        name="degree"
        class="form-control"
        value="<%= degree %>"
      />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="favCourse">Favourite Course</label>
      <div class="col-sm-10">
      <input
        type="favCourse"
        id="favCourse"
        name="favCourse"
        class="form-control"
        value="<%= favCourse %>"
      />
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">
      Save
    </button>
    <br><br>
  </form>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
